- var img =`www.todaytvseries2.com/#{data.episodes[0].coverImage}`
include partials/_header
    body
      include partials/_nav
      main
      div(class="cover-image")
       img(class="responsive-img" src=img)