nav(class="blue-grey darken-4")
    div(class="nav-wrapper container")
        a(href="#" class="brand-logo") #{logoText}
        ul(id="nav-mobile" class="right hide-on-med-and-down")
            li
                a(href="#") SignUp
            li
                a(href="#") Login